<script lang="ts">
  import Navbar from "./components/Navbar.svelte"
  import { Router } from "@roxi/routify";
  import { routes } from "../.routify/routes";
  import { onMount } from "svelte";


</script>


<style global>
  @import "../assets/global.css";
</style>


<Router {routes} />