<script lang="ts">
    import gql from 'graphql-tag';
    import { Auth } from "../../../services/Auth"
    import { query } from '../../../services/GraphqlService';
    import type { IOng } from '../../../models/ong';
    import ImageViewer from '../../../components/ImageViewer.svelte';
import AuthView from '../../../components/AuthView.svelte';

    export let id: String;

    let ongQuery = query(
        gql`
        query getOngQuery($_id: String!) {
            getOng(_id: $_id) {
            _id
            name
            cattegories
            introduction
            curiosities
            site
            creationDate
            images
            localization
            howCanYouHelp
            contact
            }
        }
        `,
        {
        _id: id,
        },
    );

    $: ong = (() =>  {
        let data = $ongQuery.data as any
        return data?.getOng as IOng
    })();
</script>

{#if $ongQuery.loading}
    <h3>Loading...</h3>
{:else if $ongQuery.error}
    <h3>Error:</h3>
    <h4>{$ongQuery.error.message}</h4>
{:else}
    <h1>Organization</h1>

    <div class="card">  
        <AuthView>
                <div class="card-body" slot="authorizing">Authorizing...</div>
                <div slot="NotAuthorized"></div>
                <div slot="authorized" let:user={user}>
                    {#if user.authorization == 2}
                        <div class="card-body">
                            <a href="/ong/{id}/edit" class="card-link">Edit</a>
                        </div>    
                    {/if}
                </div>
        </AuthView>
        <div class="card-body">
            {#if ong.cattegories}
                <p>
                    {#each ong.cattegories as cat}
                        <span class="badge bg-success ms-1">{cat}</span>
                    {/each}
                </p>
            {/if}

            <h2 class="card-title">{ong.name}</h2>
            
            <h3>Introduction</h3>
            <p class="card-text">{ong.introduction}</p>
            
            {#if ong.howCanYouHelp}
                <h3>How can I help?</h3>
                <p>{ong.howCanYouHelp}</p>
            {/if}
                

            {#if ong.curiosities}
                <h3>Curiosities</h3>
                <p>{ong.curiosities}</p>
            {/if}

            <h3>General Information</h3>
            <table class="table">
                
                <tbody>
                    {#if ong.site}
                        <tr>
                            <td>Site</td>
                            <td><a href="{ong.site}" target="_blank">{ong.site}</a></td>
                        </tr>
                    {/if}
                    

                    {#if ong.localization}
                        <tr>
                            <td>Location</td>
                            <td>{ong.localization}</td>
                        </tr>
                    {/if}
    
                    {#if ong.contact}
                        <tr>
                            <td>Contact</td>
                            <td>{ong.contact}</td>
                        </tr>
                    {/if}

                    {#if ong.creationDate}
                        <tr>
                            <td>created at</td>
                            <td>{ong.creationDate}</td>
                        </tr>
                    {/if}
                </tbody>
              </table>

            {#if ong.images.length > 1} <ImageViewer list={ong.images} /> {/if}
            

        </div>
    </div>
{/if}
