<script lang="ts">
    import { gql } from "@apollo/client/core";
    import {goto, } from "@roxi/routify"

    import type { IOng } from "../../models/ong";
    import { client, query } from "../../services/GraphqlService";
    import { Auth } from "../../services/Auth";
    
    let id: String;
    let errorMessage: String;

    let editedOng: IOng = {
        name: "",
        cattegories: [""],
        introduction: "",
        contact: "",
        creationDate: "",
        curiosities: "",
        howCanYouHelp: "",
        images: [""],
        localization: "",
        site: ""
    }

    async function save() {
        try {
            console.log(`Started`)
            let res = await client.mutate({
                mutation: gql`mutation createOng($input: CreateOngArgs!, $at: String!) {
                   createOng(accessToken: $at, input: $input) { _id }
                }`, 
                variables: {
                    "input": {...editedOng},
                    "at": Auth.accessToken || "NOT>A>ACCESS>TOKEN"
                }
            })
            console.log(`Done`)
            if (res.data.createOng)
            {
                id = res.data.createOng._id
                $goto(`/ong/${id}`);
                return
            }
            else {
                errorMessage = res.errors.toString()
                $goto(`/ong/new/#err`);
            } 
        }
        catch (err) {
            errorMessage = err.toString()
            $goto(`/ong/new/#err`);
        }
        
    }
</script>

{#if errorMessage}

    <div class="alert alert-danger" id="err" role="alert">
        Error Updating organization: {errorMessage}
    </div>

{/if}
<br>
<div class="card">
    <div class="card-body">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name*</label>
            <input type="text" class="form-control" bind:value={editedOng.name} placeholder="Very cool name">
        </div>

        <div class="mb-3">
            <p class="form-label">introduction*</p>
            <textarea class="form-control" bind:value={editedOng.introduction} placeholder="Short Introduction to the organization" rows="3"></textarea>
        </div>
    
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">cattegories*</label>
            <input type="text" class="form-control" on:change={ e => editedOng.cattegories = e.target.value.replace(/\s*/g, "").split(",") } placeholder="Software,Health,Economics">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">curiosities</label>
            <input type="text" class="form-control" bind:value={editedOng.curiosities} placeholder="They do that">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">site</label>
            <input type="text" class="form-control" bind:value={editedOng.site} placeholder="https://site.com">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">creation date</label>
            <input type="text" class="form-control" bind:value={editedOng.creationDate} placeholder="2010 or 24/12/2006">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">images</label>
            <textarea class="form-control" on:change={ e =>editedOng.images = e.target.value.replace(/\s*/g, "").split(",") } placeholder="https://url_to_image,https://url_to_image2,https://url_to_image3,https://url_to_image4" rows="3"></textarea>
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">localization</label>
            <input type="text" class="form-control" bind:value={editedOng.localization} placeholder="Londres, UK">
        </div>

        <div class="mb-3">
            <p class="form-label">how can they help?</p>
            <textarea class="form-control" bind:value={editedOng.howCanYouHelp} placeholder="You can donate money" rows="3"></textarea>
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">contact</label>
            <input type="text" class="form-control" bind:value={editedOng.contact} placeholder="mycoolorg@email.co">
        </div>

        <button type="button" class="btn btn-primary" on:click={() => save()} >Save</button>
    </div>
</div>