<script lang="ts">
    export let list: string[];
</script>

<div id="organizationPictures" class="carousel slide" data-bs-ride="carousel" style="width: 60%; margin-left: 20%;">
    <div class="carousel-inner">
        {#each list as item, i}  
          {#if i == 0}
            <div class="carousel-item active">
              <img src={item} class="d-block w-100"  alt="organization picture {i}">
            </div>    
          {:else} 
            <div class="carousel-item">
               <img src={item} class="d-block w-100"  alt="organization picture {i}">
            </div>    
          {/if}

        {/each}
        
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#organizationPictures" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#organizationPictures" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>