<script lang="ts">
  import { Auth } from '../services/Auth';
  import AuthView from './AuthView.svelte';
  import Search from './Search.svelte';

  export let goto;
</script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand text-none" href="/">
      <img src="/images/logo.png" alt="OngSearch Logo" width="40" height="40" />
      OngSearch
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar80435484"
      aria-controls="navbar80435484"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon" />
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbar80435484" style="align-items: center;" >
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>

        <AuthView>
          <li class="nav-item nav-link" slot="authorizing">
            Authenticating...
          </li>

          <li class="nav-item dropdown" slot="authorized" let:user>
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
              Account
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><h6 class="dropdown-item">Welcome {user.name}</h6></li>
              <li>
                <a class="dropdown-item" on:click={() => Auth.logout()} href="/"
                  >Logout</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="/ong/new">Create an Organization</a>
              </li>
            </ul>
          </li>

          <li class="nav-item" slot="notAuthorized">
            <a class="nav-link" target="_self" href="/api/go/google">Login</a>
          </li>
        </AuthView>
      </ul>

      <div class="d-flex" style="width: 40%;">
        <Search goto={goto} />
      </div>
    </div>
  </div>
</nav>
